{
  "presets": [
    "stage-0",
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "lodash"
      ]
    }
  }
}